/* Import Google Fonts - JetBrains Mono and Urbanist */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";


:root {
    /* color for texts */
    --title-color: #ffffff;
    --paragraph-color: #bdbdbd;
    --primary-color: #e47419;
    --secondary-color: #e67e2a;

    /* gradients */
    --gradient-orange: linear-gradient(
        135deg,
        rgb(218, 105, 12) 30%,
        rgb(233, 132, 61) 70%
    );

    /* background colors */
    --background-color-dark: #242424;
    --card-background-color-dark: #3f3f3f;
}

#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Urbanist", sans-serif;
    background-color: var(--background-color-dark);
}

.main-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.gradient-text {
    background: var(--gradient-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Header CSS */
.contact-btn {
    background: var(--gradient-orange);
    font-weight: 500;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
    font-family: "jetbrains mono", monospace;
    transition: color 0.3s ease;
}

/* Hero CSS */
.title {
    font-family: 'JetBrains Mono', monospace;
}

.paragraph-color {
    color: var(--paragraph-color);
}

.hero-cards{
    background-color: var(--card-background-color-dark);
    transition: all 0.3s ease;
}

.hero-cards:hover {
    background-color: #4b4b4b;
    transform: scale(1.05);
}

.download-cv {
    font-family: "JetBrains Mono", monospace;
    box-shadow: #e67e2a 0px 0px 9px 3px;
}